body {
    margin: 0;
    padding: 0;
    background-image: url("assets/06_MANDA_TRENDS-1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
    background-color: white;
}

header {
    position: relative;
    width: 100%;
    padding-top: 5%;
    background: linear-gradient(to right, rgb(233, 72, 43), rgb(232, 34, 87));
}

.header-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    max-width: 30%;
    position: relative;
    z-index: 2;
}

.logo-image {
    max-width: 100%;
    height: auto;
}

.text-block {
    max-width: 60%;
}

.texto {
    position: relative;
    top: -15px;
    right: 10%;
    font-family: Calibri, sans-serif;
    color: white;
    text-align: right;
}

.texto p {
    margin: 0;
    line-height: 1;
}

.texto .menor {
    font-size: 70%;
    padding-top: 10px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.images img {
    max-width: 100%;
    height: auto;
    position: absolute;
    z-index: 1;
}

.background-image {
    bottom: -50%;
    left: -9%;
    width: 20%;
}

.bolinhas {
    bottom: -30%;
    left: 40%; 
    width: 5%;
}

.maior {
    top: 15%;
    left: 50%; 
    width: 5%;
}

.mulher {
    bottom: -45%;
    right: 35%;
    width: 15%;
}

.zigzag {
    bottom: 5%;
    right: 5%;
    width: 10%;  
}

.triangle {
    top: 2%;
    right: 2%;
    width: 3%; 
}

.quadro{
    max-width: 90%;
    margin: auto;
    overflow: hidden;
}

.banner {
    position: relative;
    padding-top: 5%; 
    z-index: 2;
}

.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.quadro-content {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: white;
    padding: 20px;
}

.titulo p {
    color: #555;
    font-size: 18px;
    margin-top: -15px;
}

.fonte {
    color: #999; 
    font-size: 14px;
    margin-top: 1px; 
}

.fonte p {
    margin: 0;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding: 40px 0; 
    flex-wrap: wrap;
}

.card {
    flex: 1;
    max-width: calc(50% - 10px); 
    margin-bottom: 20px;
}

.card img {
    max-width: 100%;
    display: block;
}

.cards .card p {
    color: #999; 
    font-size: 12px;
    margin-top: 1px;
}

footer {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.rodape1 {
    max-width: 100%;
    height: auto;
    display: block;
    padding-bottom: 30px;
    position: relative;
}

.rodape2 {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    height: auto;
}

footer p {
    color: #555;
    font-size: 18px;
    margin: 0;
    text-align: center;
}

a:link {
    color: #555;
}

a:visited {
    color: #555;
}